
@model SmartWebApp.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = (@Model.Customers.Count > 2) ? "popular" : null;
}


@if (Model.Customers.Count == 0)
{
<textarea>No one has rented this movie</textarea>
}
else
{
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Movies Subscription</th>
            <th scope="col">Subscription Duration</th>
            <th scope="col">Discount Rate</th>
            <th scope="col">Subscription Type</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
        <tr class="table-dark">
            <td>@customer.Id</td>
            <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
            <td>@customer.IsSubscribedToNewsLetter</td>
            <td>@customer.MembershipType.DurationInMonths Months</td>
            <td>@customer.MembershipType.DurationRate %</td>
            <td>@customer.MembershipType.Name %</td>



        </tr>
        }



    </tbody>
</table>

}












